{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>The M17 Project needs you!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>Do you like to write code? Do you have experience in circuit design? 3D modeling? Do you have a soldering iron?</p>
        <div class="hero-buttons">
           {{- range .Params.buttons }}
            <a class="overlay btn btn-lg m-2
              {{- if hasPrefix .url " # " }} anchor{{ end -}}
              {{- $color := .color | default "primary" -}}
              {{- printf " btn-%s " $color -}}
            " href="{{ .url | relLangURL }}">
              <div class="column justify-content-center align-content-center">
                {{- .text -}}
              </div>
            </a>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
