{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="container-fluid bg-light overlay">
    <div class="container-fluid py-5 px-5 overlay">
      <div class="row">
        <div class="content-sidebar col-md-2">
          <div class="sticky-top pt-3">
            <div class="content-sidebar-title col-12 px-0 text-body">
              <h3 class="sidebar-title text-center">Reflectors</h3>
              <p class="text-center">Alphabetical Order</p>
              <p>Name<span style="float: right;">Status</span></p>
              <ul class="nav flex-column">
                <li><a href="https://m17-033.dyndns.org/" target="reflector">M17-033</a>
                  <span style="float: right;"><img src="https://m17-033.dyndns.org/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17.argentina-room.dns-cloud.net/" target="reflector">M17-190</a>
                  <span style="float: right;"><img src="https://m17.argentina-room.dns-cloud.net/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://214.m17.es/" target="reflector">M17-214</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/0OdQU8oO/M17-214.svg" /></span></li>
                <li><a href="https://m17-222.iu0krr.it/M17-222/" target="reflector">M17-222</a>
                  <span style="float: right;"><img src="https://m17-222.iu0krr.it/M17-222/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://eamaster.xreflector.es/m17/" target="reflector">M17-224</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/W-O9JTwA/M17-224.svg" /></span></li>
                <li><a href="https://m17arg.ddns.net/" target="reflector">M17-ARG</a>
                  <span style="float: right;"><img src="https://m17arg.ddns.net/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-aut.xreflector.net/" target="reflector">M17-AUT</a>
                  <span style="float: right;"><img src="https://m17-aut.xreflector.net/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://on0lg.no-ip.org/m17bel/" target="reflector">M17-BEL</a>
                  <span style="float: right;"><img src="https://on0lg.no-ip.org/m17bel/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-bro.dudetronics.com/" target="reflector">M17-BRO</a>
                  <span style="float: right;"><img src="https://m17-bro.dudetronics.com/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-deu.xreflector.net/" target="reflector">M17-DEU</a>
                  <span style="float: right;"><img src="https://m17-deu.xreflector.net/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://eadistrito1.m17.es/m17/" target="reflector">M17-EA1</a>
                  <span style="float: right;"><img src="https://eadistrito1.m17.es/m17/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://rcveleta.xreflector.es/" target="reflector">M17-EA7</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/Dvj_6SO4/M17-EA7.svg" /></span></li>
                <li><a href="https://m17spa.xreflector.es/" target="reflector">M17-ESP</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/iFxe_KCo/M17-ESP.svg" /></span></li>
                <li><a href="https://ea4gax.es/M17/" target="reflector">M17-GAX</a>
                  <span style="float: right;"><img src="https://ea4gax.es/M17/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://www.roip.network/m17/" target="reflector">M17-GBR</a>
                  <span style="float: right;"><img src="https://www.roip.network/m17/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17ita.hblink.it/" target="reflector">M17-ITA</a>
                  <span style="float: right;"><img src="https://m17ita.hblink.it/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17.digitalham.it/" target="reflector">M17-ITD</a>
                  <span style="float: right;"><img src="https://m17.digitalham.it/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-kor.dvham.com/" target="reflector">M17-KOR</a>
                  <span style="float: right;"><img src="https://m17-kor.dvham.com/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://kp4ca-m17.ddns.net/" target="reflector">M17-KP4</a>
                  <span style="float: right;"><img src="https://kp4ca-m17.ddns.net/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://latinos.m17.es/" target="reflector">M17-LAT</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/A5uNacWn/M17-LAT.svg" /></span></li>
                <li class="nav-item"><a href="https://ref.m17.link" target="reflector">M17-M17</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/WR8GBXYn/M17-M17.svg" alt="status" /></span></li>
                <li><a href="https://m17.la2k.no/" target="reflector">M17-NOR</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/N7BuIfLa/M17-NOR.svg" alt="status" /></span></li>
                <li><a href="https://xrf245.pennlinkgroup.com/mrefd/" target="reflector">M17-PLG</a>
                  <span style="float: right;"><img src="https://xrf245.pennlinkgroup.com/mrefd/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17.hblink.network/" target="reflector">M17-POL</a>
                  <span style="float: right;"><img src="https://m17.hblink.network/img/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17.hamradio.pt/" target="reflector">M17-POR</a>
                  <span style="float: right;"><img src="https://m17.hamradio.pt/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17sal.m17.es/" target="reflector">M17-SAL</a>
                  <span style="float: right;"><img src="https://m17sal.m17.es/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://hblinkspain.duckdns.org/mrefd/" target="reflector">M17-SPA</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/0J2dktfL/M17-SPA.svg" /></span></li>
                <li><a href="https://m17.dprns.com/" target="reflector">M17-THA</a>
                  <span style="float: right;"><img src="http://m17.dprns.com/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-uruguay.ddns.net/m17/" target="reflector">M17-URG</a>
                  <span style="float: right;"><img src="https://m17-uruguay.ddns.net/m17/images/up.png" alt="status" onerror="this.src='/images/down.png'" style="width:20px;height:20px;" /></span></li>
                <li><a href="https://m17-usa.openquad.net/" target="reflector">M17-USA</a>
                <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/1q6xYPCX/M17-USA.svg" alt="status" /></span></li>
              </ul>
            </div>
          </div>
        </div>
        <article class="col-md-10">
          <div class="content-body col-12 content px-0 text-body">
              <p class="text-center">Choose a reflector on the left to see its dashboard.</p>
              <iframe name="reflector" height="800px" width="100%" frameBorder="0" src="about:blank">Click on a Reflector in the list to the left!</iframe>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
