{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="container-fluid bg-light overlay">
    <div class="container-fluid py-5 px-5 overlay">
      <div class="row">
        <div class="content-sidebar col-md-2">
          <div class="sticky-top pt-3">
            <div class="content-sidebar-title col-12 px-0 text-body">
              <h3 class="sidebar-title text-center">Reflectors</h3>
              <p class="text-center">Alphabetical Order</p>
              <p>Name<span style="float: right;">Status</span></p>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="https://m17-033.dyndns.org/" target="reflector">M17-033</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://m17.argentina-room.dns-cloud.net/" target="reflector">M17-190</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://214.m17.es/" target="reflector">M17-214</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/0OdQU8oO/M17-214.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-222.iu0krr.it/M17-222/" target="reflector">M17-222</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://eamaster.xreflector.es/m17/" target="reflector">M17-224</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/W-O9JTwA/M17-224.svg" /></span></li>
                <li class="nav-item"><a href="https://m17arg.ddns.net/" target="reflector">M17-ARG</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/1ec598fa-f735-48a5-9710-999d67569978/T3TG0_9i/M17-ARG.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-aut.xreflector.net/" target="reflector">M17-AUT</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://on0lg.no-ip.org/m17bel/" target="reflector">M17-BEL</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/2fdfb5bd-2a5e-49f5-9319-7fb02df9b2ef/9sczLl-T/M17-BEL.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-bro.dudetronics.com/" target="reflector">M17-BRO</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://castellar.m17.es/m17/" target="reflector">M17-CAS</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/h5EcCi5-/M17-CAS.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-deu.xreflector.net/" target="reflector">M17-DEU</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/b8284fa1-5754-4efa-86ea-eaa48c3602ab/HTwdzSYz/M17-DEU.svg" /></span></li>
                <li class="nav-item"><a href="https://eadistrito1.m17.es/m17/" target="reflector">M17-EA1</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://aderdigital.ddns.net/m17/" target="reflector">M17-EA3</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/fbb8c49e-bd43-4c3a-b883-8f720f77e034/IueBRvLD/M17-EA3.svg" /></span></li>
                <li class="nav-item"><a href="https://ea4rcr.m17.es/m17/" target="reflector">M17-EA4</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/RiJb8FNt/M17-EA4.svg" /></span></li>
                <li class="nav-item"><a href="https://ea2bkh.m17.es/m17/" target="reflector">M17-EA2</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/XaxZ757k/M17-EA2.svg" /></span></li>
                <li class="nav-item"><a href="https://rcveleta.xreflector.es/" target="reflector">M17-EA7</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/Dvj_6SO4/M17-EA7.svg" /></span></li>
                <li class="nav-item"><a href="https://ea8ee.m17.es/m17/" target="reflector">M17-EA8</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/pYPatvdf/M17-EA8.svg" /></span></li>
                <li class="nav-item"><a href="https://m17spa.xreflector.es/" target="reflector">M17-ESP</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/iFxe_KCo/M17-ESP.svg" /></span></li>
                <li class="nav-item"><a href="https://ea4gax.es/M17/" target="reflector">M17-GAX</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/5e4cdf20-c294-482a-b40d-f5587ca1ffeb/DatMBUQf/M17-GAX.svg" /></span></li>
                <li class="nav-item"><a href="https://www.roip.network/m17/" target="reflector">M17-GBR</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/6b77ac3e-1427-4935-b5d4-49c8c82cb977/DCMbl8hK/M17-GBR.svg" /></span></li>
                <li class="nav-item"><a href="https://m17ita.hblink.it/" target="reflector">M17-ITA</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/bedbebda-7b35-426a-bdf5-eb489a9dfcb9/uWI9onjp/M17-ITA.svg" /></span></li>
                <li class="nav-item"><a href="https://m17.digitalham.it/" target="reflector">M17-ITD</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://m17-kor.dvham.com/" target="reflector">M17-KOR</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://kp4ca-m17.ddns.net/" target="reflector">M17-KP4</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/55764554-d39e-4ac6-97ec-50a462df1f91/laNfxwq9/M17-KP4.svg" /></span></li>
                <li class="nav-item"><a href="https://latinos.m17.es/" target="reflector">M17-LAT</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/f4eee2ae-a03c-40d7-b042-2619ec03d4a5/A5uNacWn/M17-LAT.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-lom.myddns.me:24033/" target="reflector">M17-LOM</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://ref.m17.link" target="reflector">M17-M17</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/168960f4-5c4a-4cf4-bc88-92f7742b3634/pGZQTF4p/M17-M17.svg" /></span></li>
                <li class="nav-item"><a href="https://m17.la2k.no/" target="reflector">M17-NOR</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/71147e09-2a32-4e45-9658-3002bc9241c0/C36g2P5g/M17-NOR.svg" /></span></li>
                <li class="nav-item"><a href="https://xrf245.pennlinkgroup.com/mrefd/" target="reflector">M17-PLG</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://m17.hblink.network/" target="reflector">M17-POL</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/434390e5-f09c-47b9-b03b-7ca403e1d408/m_4PSywr/M17-POL.svg" /></span></li>
                <li class="nav-item"><a href="https://m17.hamradio.pt/" target="reflector">M17-POR</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/22818976-a57c-4ffb-b5fc-0a20e8bd9877/P01RPcQl/M17-POR.svg" /></span></li>
                <li class="nav-item"><a href="https://m17sal.m17.es/" target="reflector">M17-SAL</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://m17.skyhublink.com/" target="reflector">M17-SKY</a>
                  <span style="float: right;"><img src="" /></span></li>  
                <li class="nav-item"><a href="https://hblinkspain.duckdns.org/mrefd/" target="reflector">M17-SPA</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/88e1ecfb-b6e5-4aab-82f2-bb50039f45c0/qNRLxH_L/M17-SPA.svg" /></span></li>
                <li class="nav-item"><a href="https://m17.dprns.com/" target="reflector">M17-THA</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/39f82542-a2e8-41af-a3fd-3a28ad5f03c7/Ltm6oM7t/M17-THA.svg" /></span></li>
                <li class="nav-item"><a href="https://m17-uruguay.ddns.net/m17/" target="reflector">M17-URG</a>
                  <span style="float: right;"><img src="" /></span></li>
                <li class="nav-item"><a href="https://m17-usa.openquad.net/" target="reflector">M17-USA</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/179fd649-42b2-4df2-b58c-d50f5e1912c2/HC48A6dS/M17-USA.svg" /></span></li>
                <li class="nav-item"><a href="https://m17zona9.duckdns.org/" target="reflector">M17-ZO9</a>
                  <span style="float: right;"><img src="https://check.m17.link/badge/93e1292c-c3a1-462f-8a16-b66536e37f77/rB24UT9j/M17-ZO9.svg" /></span></li>
              </ul>
            </div>
          </div>
        </div>
        <article class="col-md-10">
          <div class="content-body col-12 content px-0 text-body">
              <p class="text-center">Choose a reflector on the left to see its dashboard.</p>
              <iframe name="reflector" height="1275px" width="100%" frameBorder="0" src="about:blank">Click on a Reflector in the list to the left!</iframe>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
